#carbonads {
  font-size: 14px;
  text-align: left;
  width: 300px;
  position: relative;
  span {
    display: block;
  }
  .carbon-wrap {
    min-height: 100px;
    position: relative;
  }

  .carbon-img {
    bottom: 0;
    float: left;
    left: 0;
    min-height: 100px;
    padding: 0;
    position: absolute;
    top: 0;
    width: calc(130px + 1rem);
  }

  .carbon-text {
    display: block;
    color: #363636;
    line-height: 20px;
    min-height: 100px;
    padding: 0 0 20px calc(130px + 1rem);
  }

  .carbon-poweredby {
    bottom: 0;
    color: #b5b5b5;
    display: inline;
    font-size: 0.75rem;
    line-height: 20px;
    position: absolute;
    right: 0;
  }
}
