@function border($color, $shade) {
  @if $shade >= 500 {
    @return $border-size solid darken($color, $shade);
  } @else {
    @return $border-size solid lighten($color, $shade);
  }
}

@mixin base-border-classes($color, $hex-value, $color-index, $shade) {
  .border-#{$color}-#{$color-index} {
    border: border($hex-value, $shade);
  }
  .border-v-#{$color}-#{$color-index} {
    border-left: border($hex-value, $shade);
    border-right: border($hex-value, $shade);
  }
  .border-h-#{$color}-#{$color-index} {
    border-top: border($hex-value, $shade);
    border-bottom: border($hex-value, $shade);
  }
  @include create-variants(
    "border-#{$color}-#{$color-index}",
    $border-variants
  ) {
    border: border($hex-value, $shade);
  }
  @include create-variants(
    "border-v-#{$color}-#{$color-index}",
    $border-variants
  ) {
    border-left: border($hex-value, $shade);
    border-right: border($hex-value, $shade);
  }
  @include create-variants(
    "border-h-#{$color}-#{$color-index}",
    $border-variants
  ) {
    border-top: border($hex-value, $shade);
    border-bottom: border($hex-value, $shade);
  }
}
@each $color, $hex-value in $colors {
  @each $color-index, $shade in $shades {
    @include base-border-classes($color, $hex-value, $color-index, $shade);
    @each $modifier, $direction in $directions {
      .border-#{$modifier}-#{$color}-#{$color-index} {
        border-#{$direction}: border($hex-value, $shade);
      }
      @include create-variants(
        "border-#{$modifier}-#{$color}-#{$color-index}",
        $border-variants
      ) {
        border-#{$direction}: border($hex-value, $shade);
      }
    }
  }
}

@each $size, $radius in $border-radius-sizes {
  .rounded-#{$size} {
    border-radius: $radius;
  }
}

.borderline {
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  flex: 1;
}
