/**
 * Set up a decent box model on the root element
 */
html {
  font-size: 16px;
  font-family: helvetica, mr-eaves-xl-modern, sans-serif;
  font-weight: $regular;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.77);
  box-sizing: border-box;
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
  }
}

body {
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

button {
  border: none;
  background-color: transparent;
  outline: none;
}

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*,
*::before,
*::after {
  box-sizing: inherit;
}

/**
 * Basic styles for links
 */
a {
  text-decoration: none;
  cursor: "pointer";
  color: inherit;
  @include on-event {
    text-decoration: none;
    cursor: pointer;
  }
}

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
figure,
p,
pre {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  vertical-align: middle;
}
