$grid-columns: 12 !default;
$grid-max-width: 1200px !default;
$grid-spacing: 2rem;
$grid-gutter-width: 1.5rem;

.row {
  display: flex;
  flex-wrap: wrap;
}

.col .row {
  margin-left: (-1 * $grid-gutter-width / 2);
  margin-right: (-1 * $grid-gutter-width / 2);
}

// Base style for columns
@mixin col-common {
  left: auto;
  right: auto;
  padding: 0 spacing(1);
  flex-basis: 100%;
  max-width: 100%;
  box-sizing: border-box;
  //padding: 0 $grid-gutter-width / 2;
  transition: width 1s ease;
  float: left;
}

@mixin create-responsive-col-classes($breakpoint, $grid-columns) {
  @for $i from 1 through $grid-columns {
    .col-#{$breakpoint}-#{$i} {
      @include col-common;
      @include min-breakpoint($breakpoint) {
        flex-basis: unquote((100/ ($grid-columns/$i)) + "%") !important;
        min-width: unquote((100/ ($grid-columns/$i)) + "%") !important;
      }
    }
  }
}
@mixin create-col-classes($grid-columns) {
  @for $i from 1 through $grid-columns {
    .col-#{$i} {
      @include col-common;
      flex-basis: unquote((100/ ($grid-columns/$i)) + "%");
      min-width: unquote((100/ ($grid-columns/$i)) + "%");
    }
  }
}

// Column Factory
@each $breakpoint, $size in $breakpoints {
  @include create-responsive-col-classes($breakpoint, $grid-columns);
}
@include create-col-classes($grid-columns);
