@each $display in $displays {
  .#{$display} {
    display: $display !important;
  }
  @include create-variants("#{$display}", $display-variants) {
    display: $display !important;
  }
}

@each $breakpoint, $size in $breakpoints {
  @include min-breakpoint($breakpoint) {
    @each $display in $displays {
      .#{$breakpoint}\:#{$display} {
        display: $display !important;
      }
    }
  }
}

.opacity-0 {
  opacity: 0;
}

.opacity-1 {
  opacity: 1;
}
