.clickable {
  cursor: pointer;
}

.z-index-1000 {
  z-index: 1000;
}

.z-index-1010 {
  z-index: 1010;
}
.z-index-1020 {
  z-index: 1020;
}

.z-index-below-zero {
  z-index: -1;
}

.outline-none {
  outline: none;
}

.overflow-hidden {
  overflow: hidden;
}
